body {
	background-color: #FDF5E6;
	font: 18px 'Courier New', Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

#main {
	padding: 120px 0px 0px 0px;
}

#main a {
	line-height: 28px;
	color: #4169E1;
	text-decoration: none;
}

#main a:hover {
	color: #FF00FF;
}

#main .enabled-text {
	font-size: 16px;
	color: #D87093;
}

#main .enabled-text:hover {
	cursor: pointer;
	color: gray;
}

#main textarea {
	padding: 10px 15px;
}

#main .disabled-text {
	color: gray;
	font-size: 16px;
	text-decoration: line-through;
}